# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional - ignore if they are too large for GitHub)
*.csv
*.xlsx

# System files
.DS_Store
Thumbs.db
